<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377767772-uv6qs5vi1e5en3an0ejatvbmnse41r9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377767772-uv6qs5vi1e5en3an0ejatvbmnse41r9n</string>
	<key>API_KEY</key>
	<string>AIzaSyDPERRl0hpV445rUyq4hcKPBpGwzYb7O_0</string>
	<key>GCM_SENDER_ID</key>
	<string>377767772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tsyvilko.SharedNotes</string>
	<key>PROJECT_ID</key>
	<string>sharednotes-39d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>sharednotes-39d9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377767772:ios:9558eed4a8b35e91b3e399</string>
</dict>
</plist>